{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{% extends 'layout.html'%}
{% block body %}
<h1>
    Welcome to Film-Guide!
</h1>
<p>
    A movie search-and-store database to gather your favourite movies and recommend further ones.
    Built by, and for, movie enthusiasts. :)
</p>


<div style="height:50px">

</div>
<div class="row">
    <div style="padding-bottom:10px">
        <h3 style="font-family: Laksaman">
            Popular movies right now:
        </h3>
    </div>
    <div>
        {% for item in popular_list %}
         <span style="text-align:center">
        <div class="col-sm-4" >
            <img src="{{ item[3] }}"  alt="downloading image" height="100%" width="100%" style="padding-left:5%;padding-right:5%"/>
                <a href="{{ url_for('get_result', name=item[1], year=item[2]) }}">
                     
                        {{ item[1] }}
                   
                 </a>
        </div>
         </span>
        {% endfor %}
    </div>
</div>


<div style="height:100px">
</div>


<div class="row">
    <div style="padding-bottom:10px">
        <h3 style="font-family: Laksaman">
            Top movies from our database:
        </h3>
    </div>
    <div>
        {% for item in popular_list %}
         <span style="text-align:center">
        <div class="col-sm-4" >
            <img src="{{ item[3] }}"  alt="downloading image" height="100%" width="100%" style="padding-left:5%;padding-right:5%"/>
                <a href="{{ url_for('get_result', name=item[1], year=item[2]) }}">

                        {{ item[1] }}

                 </a>
        </div>
         </span>
        {% endfor %}
    </div>
</div>

<h2>
    Getting Started
</h2>
<a href="{{ url_for('search') }}">Search for movies by name.</a>
<br>
<a href="{{ url_for('show_movies') }}">Show Top Movies from our database.</a><br>
<a href="{{ url_for('genre_search') }}">View by genre.</a>


{% endblock %}
{#</body>#}
{#</html>#}