<!-- {#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>{{params[0]}}</title>#}
{#</head>#}
{#<body>#} -->
{% extends 'layout.html' %}
{% block body %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='italy.css')}}">
<div class="name">
  <span style="font-size:35px;padding-right: 40px;font-family:Nevada">{{params[0] }}</span>
    {{params[1]}}
</div>

<div style="height:400px">
	<div class="col-sm-8">
		<img src="#" alt="downloading image">
	</div>
	<div class="col-sm-4">
	<p style="height:100px">
	</p>
		<!-- <p><span style="font-size:35px;color:#c13c30">Rating:</span></p> -->
		<p>
		<table >
			<tr>
				<td style="color:#663f63;font-family:cursive;font-size:18px;padding-left: 10px; padding-right:20px">

					IMDB:
				</td>
				<td style="color:#c13c30;font-size:25px">
					{{params[2]}}
				</td>
			</tr>
			<tr>
				<td style="color:#663f63;font-family:cursive;font-size:18px;padding-left: 10px;padding-right:20px">
					Rottentomatoes:
				</td>
				<td style="color:#c13c30;font-size:25px">
					{{params[3]}}
				</td>
			</tr>
			<tr>
				<td style="color:#663f63;font-family:cursive;font-size:18px;padding-left: 10px;padding-right:20px">
					Metacritic:
				</td>
				<td style="color:#c13c30;font-size:25px">
					{{params[4]}}
				</td>
			</tr>
		</table>
		
		</p>
	</div>
</div>
<div style="height:100px">
	</div>


	
	{% for item in params[6] %}
		<span style="width:100px">{{item}}</span>
	{% endfor %}
	

<h3>
    Rating :
</h3>
<p>
    {{params[2]}}
</p>
{% endblock %}
<!-- {#</body>#}
{#</html>#} -->
</body>
</html>