<!-- {#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>{{params[0]}}</title>#}
{#</head>#}
{#<body>#} -->
{% extends 'layout.html' %}
{% block body %}

<div class="name">
  <span style="font-size:35px;padding-right: 40px">{{params[0] }}</span>
    {{params[1]}}
</div>

<div>
	<div class="col-sm-6">
		<img src="#" alt="downloading image">
	</div>
	<div>
		hello
	</div>
</div>

<h3>
    Director :
</h3>
<p>
    {{params[3]}}
</p>
<h3>
    Rating :
</h3>
<p>
    {{params[2]}}
</p>
{% endblock %}
<!-- {#</body>#}
{#</html>#} -->
</body>
</html>